body {
  margin: 0;
}

.App-logo {
  display: inline-block;
  height: 40vmin;
  pointer-events: none;
}

.container {
  background-color: #282c34;
  display: flex;
  align-items: center;
}

.App-link {
  color: #6395a3;
  margin: 10px;
  transition: .5s linear;
}

.App-link:hover {
  color: #fff;
  text-shadow: 0 0 10px #fff,
               0 0 20px #fff, 
               0 0 40px #fff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-rust-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
